<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supplico_login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view_stock"></activity>
        <activity android:name=".add_stock" />
        <activity android:name=".admin_home" />
        <activity android:name=".pdt_without_crd" />
        <activity android:name=".pdt_card" />
        <activity android:name=".home" />
        <activity android:name=".forgtpass" />
        <activity android:name=".reg" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>